@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply full-width bg-slate-200 font-sans text-lg font-medium;
	}
}

@layer components {
	.btn-theme {
		@apply bg-cyan text-center font-bold text-white;
	}
	.btn-sm {
		@apply px-6 pb-2 pt-[9px] text-[15px];
	}
	.btn-md {
		@apply px-6 pb-[9px] pt-3 text-lg;
	}
	.btn-lg {
		@apply px-10 pb-3 pt-3.5 text-xl;
	}
	.btn-xl {
		@apply px-10 py-[18px] text-xl;
	}
	.btn-primary {
		@apply btn-theme rounded-full;
	}
	.btn-primary--sm {
		@apply btn-primary btn-sm;
	}
	.btn-primary--md {
		@apply btn-primary btn-md;
	}
	.btn-primary--lg {
		@apply btn-primary btn-lg;
	}
	.btn-secondary {
		@apply btn-theme rounded-[10px];
	}
	.btn-secondary--md {
		@apply btn-secondary btn-md;
	}
	.btn-secondary--xl {
		@apply btn-secondary btn-xl;
	}
}

@layer utilities {
	.full-width {
		@apply w-full overflow-x-hidden;
	}
	.center-content-container {
		@apply mx-auto w-full max-w-6xl;
	}
	/* .center-x {
		@apply left-1/2 -translate-x-1/2;
	}
	.center-y {
		@apply top-1/2 -translate-y-1/2;
	} */
}
